// This stylesheet contains styling for default elements
@import 'colors.scss';

html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #fef1e2;
}

input {
  font-family: 'Open Sans', sans-serif;
  color: $primary;

  border: 1px solid lightslategray;
  box-shadow: 0 0 1px gray;
  border-radius: 5px;
  height: 30px;
  outline: none;
  padding-left: 10px;

  &:focus {
    border: 1px solid $accent;
  }
}

a {
  color: $primary;

  &:hover {
    color: $accent;
  }

  &:focus {
    outline: none;
  }
}
