// This stylesheet contains styling for default elements
@import 'colors.scss';

html {
  color: $primary;
  font-family: 'Open Sans', sans-serif;
  margin: 25px;
  background-color: $light-accent;
}

input {
  font-family: 'Open Sans', sans-serif;
  color: $primary;

  border: 1px solid lightslategray;
  box-shadow: 0 0 1px gray;
  border-radius: 5px;
  height: 30px;
  outline: none;
  padding-left: 10px;

  &:focus {
    border: 1px solid $accent;
  }
}
